*{
	margin: 0;
	padding: 0;
}
#cabecalho{
    float: left;
    margin-left: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #C0C0C0;
    height: 58px;
    position: fixed;
    width: 100%;
}

li{
    margin-left: auto;
	margin-right: auto;
	float: left;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    height: 28px;
    padding: 20px 10px 10px 10px;
    -webkit-text-fill-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li a:hover{
    background-color: white;
}

#logo{
    display: block;
    float: left;
    height: 48px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*rodapé*/
#contato{
    clear: both;
    position: absolute;
    bottom: 0;
    height: 146px;
    background-color: #C0C0C0;
    display: block;
    width: 100%;
}

#TextContato{
    /*border: 1px solid red;*/
    display: inline-block;
    margin-top: 30px;
    float: left;
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#InfoContato{
    /*border: 1px solid red;*/
    width: 630px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    float: left;
    margin-top: 24px;
}

#InfoFormulario{
    /*border: 1px solid red;*/
    float: right;
    width: 300px;
    margin-top: 10px;
}

#text{
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 20px;
}

#submit{
    float: right;
    margin-top: 35px;
    height: 25px;
}

#socialNetwork{
    /*border: 1px solid red;*/
    display: inline-block;
    width: 400px;
    text-align: center;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 8px;
}